.container{
    border: black solid 1px
}
.button{
    display: flex;
    margin: 5px;
}
.products{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
.list-product{
    border: black solid 1px ;
    width: 200px;
    background-color: #a0eccc;
}

.review-edit{
    margin: 10px 0 10px 0;

}

